root = true

[*]
end_of_line = crlf
charset = utf-8

[*.cs]
indent_style = tab
indent_size = 4

[*.csproj]
indent_style = tab
indent_size = 2

[*.targets]
indent_style = tab
indent_size = 2

[*.xaml]
indent_style = tab
indent_size = 2

[*.nuspec]
indent_style = tab
indent_size = 2
